<div class="row">
  <div class="col-sm"></div>
  <div class="col-sm-4">
    <form action="/listCar" method="POST">
      <div class="mb-3 form-group">
        <label for="make">Make</label>
        <input type="text" name="make" id="make" class="form-control" />
      </div>
      <div class="mb-3 form-group">
        <label for="modal">Modal</label>
        <input type="text" name="modal" id="modal" class="form-control" />
      </div>
      <div class="mb-3 form-group">
        <label for="year">Year</label>
        <input type="number" name="year" id="year" class="form-control" />
      </div>
      <div class="mb-3 form-group">
        <label for="type">Type</label>
        <select name="type" id="type" class="form-control">
          <option value="economy" selected>Economy</option>
          <option value="SUV">SUV</option>
          <option value="luxury">Luxury</option>
        </select>
      </div>
      <div class="mb-3 form-group">
        <button type="submit" class="btn btn-primary">Next</button>
      </div>
    </form>
  </div>
  <div class="col-sm"></div>

</div>